RewriteEngine On
RewriteBase /arenaread/

RewriteRule ^([a-zA-Z0-9_-]+)/?$ mostrar_capa.php?manga=$1 [L,QSA]

RewriteRule ^([a-zA-Z0-9_-]+)/capitulo-([0-9]+)/?$ ler_manga.php?manga=$1&num_capitulo=$2 [L,QSA]

ErrorDocument 404 /404.php

